* {
	box-sizing: border-box;
	
}

body{
	font-size: 14px;
	color: #444;
	line-height: 1.7;
}

a {
	text-decoration: none;
	/*display: inline-block;*/
}
.container{
	display: block;
	max-width: 1080px; 
	margin: 0 auto;	
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.clear-float::after,
.clear-float::before{
	content: "";
	display: block;
	clear: both;
}

/*所有分栏共享的属性*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9{
	display: block;
	position: relative;
	min-height: 1px;
	float: left;
}

/*独有的属性*/
.col-1{
	width: 10%;
}

.col-2{
	width: 20%;
}
.col-3{
	width: 30%;
}
.col-4{
	width: 40%;
}
.col-5{
	width: 50%;
}
.col-6{
	width: 60%;
}
.col-7{
	width: 70%;
}
.col-8{
	width: 80%;
}
.col-9{
	width: 90%;
}


.top-nav{
	background: #eee;
}

.top-nav a{
	display: inline-block;
	padding: 6px 10px;
	/*如果不设置inline-block会导致padding无用*/
}

.top-nav a:hover{
	color: #333;
}

.header{
	height: 70px;
	padding: 20px 0;
	background: #f6f6f6;
}

.header .logo {
	font-size: 30px;
}

.header .search-bar{
	/*border: 2px solid #dd182b;*/
	width:540px;

}

/*这个outline是清除输入框的边框外面的线的*/
.header .search-bar input,
.header .search-bar button{
	border: 0;
	padding: 10px;
	outline: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	transition:  200ms cubic-bezier(0.4, 0, 0.2, 1)
	/*transition属性挺好玩的，视觉效果可以*/
}


.header .search-bar input:focus,
.header .search-bar button:focus{

	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.header .search-bar button:focus{
	background: rgba(221, 24, 43, 0.73)
}

/*虽然父级div漂浮了，但是input和button没有漂浮
 *在父级的元素内部还是按照正常的flow排序的
 *所以，为了让在父级框内横向排序，还是要让这
 两个元素分别浮动，并且按照一定比例的宽度*/
/*.header .search-bar input{
	width: 80%;
}

.header .search-bar button{
	width: 20%;
}
不采用这种方法，应为可以利用之前的比例选择器*/

.header .search-bar button{
	background: #dd182b;
	color: #fff;

	/*line-height: 10px;*/
}


.header .cart{
	text-align: center;
	height: 35px;
	width: 190px;
	border: 1px solid #E3E4E7;
	background: #fff;
	margin-left: 40px;
}

/*行内元素，float之后，height和width都获得了*/
.header .cart a{
	display: block;
	/*padding: 10px;*/
	margin: 0 auto;
	line-height: 35px;
	width: 50%;
}



/*********main-promote-part**********/
.main-promote .cat{
    background: #6e6568;
    color: #fff;
}

.main-promote .cat div{
    padding: 12px 20px;

}

.main-promote .cat div:hover{
	background: #484143;
}

.pic0{
	width: 648px;
}

/*图片和图片的容器div底部有间隙*/
.pic0 img{
	width: 100%;
	display: block;
}

.pic1{
	width: 50%;
}

.pic1 img{
	width: 100%;
}